.container {
  max-width: 1200px;
  min-width: 340px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  &--text-start {
    text-align: start;
  }

  &__page-filter {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 50px;
  }
}
