.footer {
  background-color: var(--background-color-primary-dark);
  padding: 60px 0;
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
    min-width: 320px;
    gap: 42px;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    padding-bottom: 10px;
    text-transform: uppercase;

    color: var(--color-logo-light);
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .footer__list {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    max-width: 768px;
    justify-content: center;

    column-gap: 144px;
  }
}
@media (min-width: 1200px) {
  .footer__list {
    flex-wrap: nowrap;
    text-align: start;
    max-width: 1200px;
    column-gap: 70px;
  }
}
