.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__input {
    color: var(--color-contact-light);

    background-color: var(--background-color-primary-dark);
    border: 1px solid #ffffff30;
    max-width: 450px;
    min-width: 320px;
    border-radius: 4px;
    padding: 15px 0 15px 16px;
  }

  &__button {
    color: var(--color-logo-light);
    font-family: inherit;
    font-weight: 700;
    background-color: var(--color-logo);
    border: none;

    border-radius: 4px;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 13px 28px 13px 42px;
  }

  &__icon {
    fill: var(--color-logo-light);
  }
}
@media (min-width: 1200px) {
  .newsletter {
    flex-direction: row;
    gap: 12px;
  }
  .newsletter__input {
    width: 358px;
  }
}
