* {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
}
