:root {
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-logo: #2196f3;
  --color-logo-dark: #000000;
  --color-logo-light: #ffffff; /* text on a dark background */
  --color-contact-light: #ffffff60;
  --color-icons: #afb1b8;
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --background-color-primary-light: #ffffff;
  --background-color-secondary-light: #f5f4fa;
  --background-color-primary-dark: #2f303a;
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
}
